  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;    
  }

  .result {
    font-size: 2.5rem;
    margin-right: 0.2rem;
    font-family: 'Orbitron', sans-serif;
    padding-bottom: 0.3rem;
}

  .result-display {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
  }

  .result-history-display {
    margin-right: 0.2rem;
    color: #ccc;
    font-size: 1rem;
  }

  .equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 5;
  }

  .clear {
    grid-area: 6 / 1 / 6 / 5;
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  button {
    height: 60px;
    font-size: 2rem!important;
  }